{% load static %} <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LOGIN</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="SignUplink">
      Dont have an account?<a
        href="{% url 'registeration' %}"
        class="btn btn-dark"
        >SignUp</a
      >
    </div>
    <div class="registration-form">
      <form method="POST" action="">
        {% csrf_token %}
        <div class="text"><span>L</span><span>OGIN</span></div>
        <div class="form-group">
          <div class="form-text">Username:</div>
          <input
            type="text"
            class="form-control item"
            id="username"
            name="username"
            placeholder="Username"
          />
        </div>
        <div class="form-group">
          <div class="form-text">Password:</div>
          <input
            type="password"
            class="form-control item"
            id="password"
            name="password"
            placeholder="Password"
          />
        </div>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <button type="submit" class="btn btn-block create-account">
          Login
        </button>
      </form>
    </div>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
      integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>
