<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>teacher page</title>
<style>

body, htmlss {
  height: 100%;
  margin: 0;
}
.top-left {
  position: fixed;
  font-family: Arial;
  font-style: bold;
  color:white;
  font-size: 50px;
   top: 8px;
  left: 16px;
}
.centered {
  position: fixed;
text-shadow: 1px 1px #CDCDCF;
font-family: Courier New;
  color:white;
  font-size: 20px;
  margin-top: 135px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 310px
  
}
</style>
</head>

<body bgcolor="#2F2F42">

 <div class="top-left">Instructions for Teachers</div>
  <div class="centered"><p>
STEPS FOR TEACHERS<br><br>
  1.Click on the Create Session button.<br><br>
  2.Create a session by selecting the subject and divison.<br><br>
  3.Two session for the same divison cannot be created at the same time.<br><br>
  4.After creating the session the students can mark their attendance.<br><br>
  5.After ending the session the attendance can be downloaded in the form of an excel sheet.<br><br>

  <p/></div>
  </div>
</body>

</html>



