* {
  margin: 0;
  padding: 0;
}
main {
  font-family: "Heebo", sans-serif;
}

.landing {
  min-height: 100vh;
  
  background-color:#262626;
  background-size: cover;

}
.top-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  color:white;
  padding: 0px 10px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;

}
.nav-links {
  align-items: center;
  justify-content: space-between;
  display: flex;
  list-style: none;
  width:100%;
}
.nav-links li {
  padding-left: 10rem;
  font-size: 1.2rem;
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#logo {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
}


.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.big-text {
  background: url("/static/images/homepage1.jpg");
  
  /* background:
  linear-gradient(
    var(--gray-dark), #02090f
  ),url("/static/images/homepage1.jpg"); */

  /* background:
  linear-gradient(
    var(--gray-dark), #02090f
  ), 
  url("/static/images/homepage1.jpg"); */

  /* background-color: rgba(200,100,0,.5);  */

  position: fixed;
  top: 65px;
  left: 23px;
  right: 23px;
  bottom: 23px;
  padding: 4rem;
  overflow: auto;
  transition: .2s ease;
  border-radius: 6px;
  background-size: cover;
  /* position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: rgb(61, 61, 61);
} */
}

@media screen and (orientation:portrait){
  .big-text{
    padding:4rem 1rem;
  }
}

@media screen and (orientation:portrait){
  .middle-navigation.active + .big-text{
    transform:translateX(55%) scale(0.8);
    box-shadow: 0 0 30px 5px rgba(38,38,38,0.3);
  }
}

@media screen and (orientation:landscape){
  .middle-navigation.active + .big-text{
    transform:translateX(12%) scale(0.8);
    box-shadow: 0 0 30px 5px rgba(38,38,38,0.3);
  }
}

.middle-navigation {
  height: 75%;
    position: fixed;
    width: 18%;
    color: white;
}
.middle-navigation::before{
  content:'';
  display:inline-block;
  width:0;
  /* height:100%; */
  vertical-align: middle;
}
.middle-navigation ul{
  width: 80%;
  display:inline-block;
  vertical-align: middle;
}
.middle-navigation ul li{
  display:block;
  text-transform: uppercase;
  /* line-height: 2; */
  font-size: .8rem;
  /* color:white; */
  cursor: pointer;
  
  padding-left:51%;
  font-weight: bold;
  /* margin-bottom: 10px; */
  font-size: 22px;    margin-top: 87px;
}
.hamburger{

  top:1rem;
  width:1.5rem;
  height:.7rem;
  z-index:2;
  cursor: pointer;
}
.hamburger span{
  display:block;
  background-color: white;
  height:20%;
  margin-bottom: 20%;
}

a{
  position: absolute;
  text-align: center;
  line-height: 60px;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform-origin: center center;
  width:120px;
  height: 54px;
  bottom: 0;
  margin-left: 36%;
}
a span{
  position: absolute;
  top:0;
  /* left:-5px; */
  width:100%;
  height:100%;
  display:block;
  text-align:center;
  line-height:60px;
  font-size:20px;
  background: rgba(255,255,255,.05);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 10px;
  text-transform: uppercase;
  color:#fff;
  transition: 1s;
}
a span.front{
  transform: rotateX(0deg) translateZ(20px);
}
a:hover  span.front{
  transform: rotateX(-180deg) translateZ(20px);
}
a span.back{
  background: red;
  transform: rotateX(180deg) translateZ(20px);
}
a:hover  span.back{
  transform: rotateX(0deg) translateZ(20px);
}
a span.middle{
  background: linear-gradient(to left,#871108,#ff5245);
}
a span.middle:before{
  background: white;
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius: 10px; 
  transform:translateZ(-1px); 
}
a:hover span.middle{
  transform: rotateX(-180deg);
}


li {
  display: inline-block;
  
  text-decoration: none;
}
.middle-navigation li:hover::after {
  width: 100%;
  /* // transition: width .3s; */
}

.middle-navigation li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: orange;
  transition: width .3s;
}