<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>student page</title>
<style>

body, html {
  height: 100%;
  margin: 0;
}
.top-left {
  position: fixed;
  font-family: Arial;
  font-style: bold;
  color:white;
  font-size: 50px;
   top: 8px;
  left: 16px;
}
.centered {
  position: fixed;
text-shadow: 1px 1px #CDCDCF;
font-family: Courier New;
  color:white;
  font-size: 20px;
  margin-top: 135px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 310px
  
}
</style>
</head>

<body bgcolor="#025080">

 <div class="top-left">Instructions for Students</div>
  <div class="centered"><p>
MUST FOLLOW STEPS BEFORE MARKING ATTENDANCE<br><br>
  1.To be able to mark your attendance you need to upload your photo which will be captured in realtime.<br><br>
  2.While your photo is being captured make sure that the lighting conditions are good and stay still.<br><br>
  3.The captured photo will be used to recognize your face when your are giving your attendance in the future.<br><br><br><br>
STEPS FOR MARKING ATTENDANCE<br><br>
  1.Select the session for which you want to mark your attendance.<br><br>
  2.Click on the mark attendance button.<br><br>
  3.Your attendance will be marked after recognizing your face.

  <p/></div>
  </div>
</body>

</html>



