body{
    overflow-x: hidden;
    margin:0;
    padding:0;
    min-height: 1000px;
    font-family:sans-serif;
    padding-top: 100px;
}
header{
    position:fixed;
    top:0;
    left:0;
    height: 100vh;
    width:100%;
    background-color:#a3a3a5;
    
    transition: 1s;
    box-sizing: border-box;
}
header.scrolled{
    height: 80px;
}
header .logo{
    position: absolute;
    top:calc(50% - 150px);
    left:calc(50% - 150px);
    transition: 1s;
}
header.scrolled .logo{
    position: relative;
    top:0;
    left:0;
}
header img.banner{
    object-fit:cover;
    position: absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
}
header.scrolled img.banner{
    opacity:0;
    background-color: white;
}
header .logo img{
    width:300px;
    transition:1s
}
header.scrolled .logo img{
    width: 60px;
    margin: 10px;
    overflow: hidden;
}
nav{
    position: relative;
    float: right;
    font-family:sans-serif;
    vertical-align: baseline;
    font:inherit;
    font-size:1.5em;
    overflow: hidden;
    text-align: center;
    /* margin:10em auto; */
    margin-right: 26%;
}
nav ul{
    position: relative;
    margin:0;
    display:flex;
    transition: 1s;
    opacity:0;
    visibility: hidden;
    justify-content: center;
    padding: 12px 20px;
}
nav ul li{
    list-style:none;
}
header.scrolled nav ul{
    opacity:1;
    visibility: visible;
    justify-content: center;
}
nav ul li a {
    padding: 11.5px 16px;
    text-decoration: none;
    float: left;
    position: relative;
    display: block;
    text-decoration: none;
    color: white;
    transition: 0.7s;
    font-size: 26px;
}
nav ul li a:hover{
    color:#c6342e;
    text-decoration: none;
}
nav ul .effect{
    position:absolute;
    left:-10%;
    transition: 0.7s ease-in-out;
    
}
nav ul li:nth-child(1):hover ~ .effect{
    left:15%;
}
nav ul li:nth-child(2):hover ~ .effect{
    left:34.5%;
}
nav ul li:nth-child(3):hover ~ .effect{
    left:55.5%;
}
nav ul li:nth-child(4):hover ~ .effect{
    left:82%;
}

nav:after{
    content: "";
    display: block;
    position:absolute;
    width:100%;
    height:2px;
    background:#c6342e;
    bottom:4px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

header.scrolled nav:after{
    opacity:1;
   
    visibility: visible;
    justify-content: center;
}
nav a:after{
    content:"";
    position: absolute;
    width:6px;
    height:6px;
    bottom: -10px;
    left: 50%;
    margin-left:-2px;
    border-radius: 100%;
    background: #c6342e;

}
nav .effect{
    width:10px;
    height:10px;
    bottom:0px;
    margin-left:-5px;
    background: #c6342e;
    border-radius: 100%;
}
nav ul li a.active{
    background:#000;
    color:#fffafa;
}
section{
    padding-left: 35px;
    padding-top: 150px;
    box-sizing: border-box;
    background-color: #050b23;
    color:#00AFFA;
    height: 100%;
}
section h2{
    margin:0;
    padding:0;
    font-size: 50px;
    font-family: 'Popppins',sans-serif;
}
.flex h2{
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-family: 'Popppins',sans-serif;
    padding: 0 5%;
    color: powderblue;
}
.flex h1{
  
    margin: 0;
    padding: 0;
    font-size: 12.5rem;
    margin-top: 9%;
    color: #00affa;
    font-family: 'Popppins',sans-serif;
    letter-spacing: -3px;
}
.flex p {
    color:#A3D3FF;
    justify-content: center;
    align-items: center;
    font-family: 'Popppins',sans-serif;
    width: 43%;
    margin-left: 1%;
 
    font-size: 1.565rem;
}
#face-vid{
    margin: 0;
    float: right;
    
    width: 50%;
    height: 75%;
    margin-right: 52px;
    margin-top: 60px;
}
section p{
    
    font-size: 18px;
}

.logo,.banner{
    opacity: 0;
}
.banner{
    transform: scale(1,1);
}
header #vid{
    transform: scale(1.120,1.120);
    width:100%
}
section#intro {
    padding-bottom: 7%; 
}
select{
    display: none;
}
#face-vid{
    opacity:0;
    transition: 0.5s;
}
#face-vid.scrolled{
    opacity:1;
    transition: 2s;
    transition-delay: 1s;

}
.banner.scrolled{
    opacity:0;
}

/* small screens */
@media screen and (max-width: 44em) {
    header.scrolled nav ul {
    
        visibility: hidden;
    }
    select{
        display: block;
        margin: 0;
        text-decoration: none;
        position: sticky;
        float: right;
        transform: translate(0,-298%);
    }
}


header .btn-login{
    padding: 0 20px;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    text-decoration: none;
    position: relative;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 1.3em;
    line-height: 2em;
    /* letter-spacing: 2px; */
    width: 100px;
    margin: 17px 30px;
    border: solid #040b22;
    border-radius: 35em;
    color:#040b22;
    background: transparent;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
    transition: ease-in-out;
    transition: 1s;
    font-family: 'Popppins',sans-serif;

}
header .btn-login .dot{
    content:'';
    position: absolute;
    top:0;
    height:100%;
    border-radius: 100%;
    transition: all 300ms ease;
    display:none;
}

header .btn-login:hover{
    text-decoration: none;
    color:white;
    background-color: #040b22;
    transition: 1s ;
}


/*signup section */

.signup {
    font-family: 'Poppins',sans-serif;
    padding-top: 2%;
    padding-left: 0px;
    color: crimson;
    background: #020202;
    padding-bottom: 6%;
}
.signup .container{
    position:relative;
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 96px;
    overflow: hidden;
}
.signup .container .signup_card{
    position: relative;
    width: 445px;
    height: 500px;
    background:rgba(255, 255, 255, 0.05);
    margin:55px;
    box-shadow: 0 15px 35px rgba(0, 0, 0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}
.signup .container .signup_card .content{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;

}
.signup .container .signup_card:hover .content{
    opacity: 1;
}
.signup .container .signup_card .content .imgBx{
    position:relative;
    width:150px;
    height:150px;
    border-radius: 58%;
    overflow: hidden;
    border:10px solid rgba(0,0,0,0,25);
}
.signup .container .signup_card .content .imgBx img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}
.signup .container .signup_card .content .contentBx h3{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin:20px 0 10px;
    line-height:1.1em;

}
.signup .container .signup_card .content .contentBx h3 span{
    font-size:12px;
    font-weight: 300;
    text-transform: initial;
}
.signup .container .signup_card .sci{
    position:absolute;
    bottom:50px;
    margin:0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
}
.signup .container .signup_card:hover .sci{
    transform: translateY(0px);
    opacity: 1;
}
/* .student-right{
    left:0;
    margin-right: 100px;
    position: absolute;
    /* bottom: -70px; */
    /* opacity: 1;
    transition: all 0.9s ease-out; */
    /* transform: translate(-50%, 100%); */
/* } */ 



#student-right{
    font-size: 100px;
    font-family: 'Lobster',cursive;
    /* display: block; */
    /* max-width: 100%; */
    position: absolute;
    /* bottom: -70px; */
    opacity: 1;
    transition: all 0.9s ease-out;
    margin-top: 68px;
    transform: translateX(-200%);
}
#teacher-left{
    font-size: 100px;
    font-family: 'Lobster',cursive;
    /* display: block; */
    /* max-width: 100%; */
    position: absolute;
    /* bottom: -70px; */
    opacity: 1;
    transition: all 0.9s ease-out;
    transform: translateX(200%);
    margin-top: -132px;
    
    /* transform: translateX(200%); */
}

section .signup::before,
section .signup::after {
    position: absolute;
    content: '';
    pointer-events: none;
    overflow: hidden;
}

/* signup-button */
.sci .btn{
    font-family: 'Poppins',sans-serif;
    position: relative;
    padding:10px 30px;
    border:2px solid #41f321;
    margin:10px;
    display:inline-block;
    text-decoration: none;
    color:#41f321;
    letter-spacing:2px;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
}
.sci .btn:hover{
    color: #111;
}
.sci .btn span{
    position:absolute;
    display:block;
    width:0px;
    height:0px;
    transform:translate(-50%,-50%);
    border-radius:50%;
    background:#41f321;
    transition: width 0.5s,height 0.5s;
    z-index: -1;
}
.sci .btn:hover span{
    width:300px;
    height:300px;
}
/*about us section */

#aboutus{
    padding: 1% 5%;
    padding-top: 3%;
}
#aboutus .white-box{
    /* background-color: #b3b3b2; */
    width: 100%;
    height: 100%;
    color:#111;
    align-items: center;
    justify-content: center;
    color: #a3d3ff
}
#aboutus .white-box .two{
    /* border: 2px solid wheat; */

}
#aboutus h2{
    font-size: 100px;
    color: #00affa;
}
#aboutus h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 36%;
    width: 400px;
    height: 2px;
    background: #f00;
}
#aboutus .two-boxes{
    height:220px;
}
#aboutus .three p,.two p{
    padding: 10px 10% 10px 6%;
    text-align: center;
}
#aboutus .three h1{
    /* padding: 10px 3% 10px 11%; */
    padding: 10px 6% 10px 13%;
}
#aboutus .three{
    /* padding: 10px 39% 10px 38%; */
    float:left;
    height:220px;
    width:50%;
}
#aboutus .two h1{
    /* padding: 10px 3% 10px 11%; */
    padding: 10px 6% 10px 13%;
}
#aboutus .two{
    /* padding: 10px 39% 10px 38%; */
    float:right;
    height:220px;
    width:50%;

}

#aboutus .aboutus {
    text-align: center;
}
#aboutus .what {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
#aboutus .one p{
    padding: 10px 30% 10px 30% ;
    text-align: center;
}
/*contact us section */
#contact{
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction:column;
    background:#ede7f6;
    color:black;
}
#contact footer{
    position:relative;
    width:100%;
    height:auto;
    padding:0px 9%;
    background:#111;
    justify-content: space-between;
    flex-wrap:wrap;

}
footer .container{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    flex-direction: row;
    padding: 30px 0 0 0;
}
footer .container .sec{
    margin-right: 30px;
}
footer .container .sec.contact{
    width:40%;
}
footer .container  h2{
    font-size: 1.5em;
    position: relative;
    color:#fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container  h2:before{
    content:'';
    position: absolute;
    bottom: -5px;
    left:0;
    width:50px;
    height:2px;
    background: #f00;
}
#contact .sci{
    margin-top:20px;
    display: flex;
    padding: 0; /* */

}
#contact p{
    margin-bottom: 0;
}
#contact .sci li{
    list-style: none;
}
#contact .sci li a {
    display: inline-block;
    width:40px;
    height:40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    color:white;
}
#contact .sci li a:hover{
    background:white;
    font-size:20px;
    color:black;
}
#contact .sci li a .fa{
    font-size: 20px;
}
#contact .quickLinks{
    position: relative;
    width:25%;
    
}
#contact .quickLinks ul{
    padding: 0;
    list-style: none;
    font-size: 18px;
}
#contact .quickLinks ul li a{
    list-style: none;
}
#contact .quickLinks ul li a{
    color:#999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
#contact .quickLinks ul li a:hover{
    color:#fff;
}
#contact .contactus{
    width:calc(35% - 60px);
    margin-right:0  !important;
}
#contact .contactus .info li{
    display: flex;
    margin-bottom: 16px;

}
#contact .contactus .info li span:nth-child(1){
    color:#fff;
    font-size: 20px;
    margin-right: 10px;

}
#contact .contactus .info li span{
    color:#999;
}
#contact .contactus .info li a{
    color:#999;
    text-decoration: none;
}
#contact .contactus .info li a:hover{
    color:#fff;
}
#contact .contactus ul{
    padding: 0;
    list-style:none;
}